!.gitignore
*.mak
!install.mak
*.o
*.orig
*.swp
.svn
stovol
stovol_ut
tpc.db
tags
data/
*.log
op.txt
fp.txt
data.177/
src_stc/
data.prod/
data.20250410/
data.20250410.tar.xz
data.20240918/
data.20240918.tar.xz
a.txt
include.0918.debug/
src.0918.debug/
*.swo
